<% content_for :title, "Editing complaint" %>

<h1>Editing complaint</h1>

<%= render "form", complaint: @complaint %>

<br>

<div>
  <%= link_to "Show this complaint", @complaint %> |
  <%= link_to "Back to complaints", complaints_path %>
</div>
